img {
    max-width: 100%;
    height: auto;
    min-width: 30px;
}
.gd-gallery {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 1fr);

    /* grid-template-columns: minmax(400px, 1fr); */
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
    /* grid-template-rows: repeat(5, 400px); */
    grid-gap: 15px;
    overflow: hidden;
    width: 100%;
    padding: 25px;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    
}

img:hover {
    transform: scale(1.5);
  }

@media screen and (max-width: 900px) {
    .gd-gallery {
        grid-template-columns: minmax(300px, 1fr);
        margin: 0px;
    }

    img:hover {
        transform: scale(1);
      }
}



/* .gd-gallery-img {
    
    border: 1px solid rgb(7, 94, 53);
    padding: 10px;
    object-fit: cover;
    grid-area: photo;
    max-width: 100%;
    /* max-height: 100%; */
    /* height: auto; */
    /* grid-column: span 1; */
/* } */ 