@media screen and (max-width: 900px) {
/* top */
  .header-text {
    font-size: 31px;
  }

  .yeatman-logo {
    padding: 45px;
  }

  .cont-profile-pic {
    margin-top: 2px;
  }

  .profile-pic {
    width: 140px;
  }

/* navbar */
  nav {
    background: none !important;
  }
  nav .links {
		float: none;
		position: fixed;
		z-index: 1;
		left: 0;
		right: 0;
		top: 175px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 25px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
    display: block;
    z-index: 2;
  }
  nav .icon-burger .line {
    background-color: var(--org);
  }
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
    }

/* home pg */
  .code-logos {
    width: 100%;
  }
  .code-logos-container {
    grid-template-columns: 1fr 1fr; 
  }
  .design-logos {
    grid-template-columns: 1fr 1fr;
  }
    
/* Developer */
  .developer-text-container{
    color: white;
  }

  .developer-text-header {
    font-size: 60px;
    margin: 40px 0px 15px 0;
  }

  .developer-text-paragraph {
    font-size: 20px;
  }
  .portfolio-container {
    display: inline-block;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
  }

  .portfolio-container-row {
    flex-direction: column;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1px;
  }

  .dev-info {
    /* flex-direction: column; */
    overflow: hidden;
    width: 85%;
    height: 85%;
    
  }

  .dev-info:hover {
      transform: scale(1);
  }

/* Designer pg */
  .designer-text-header {
    font-size: 70px;
    margin: 40px 0px 15px 0;
  }

  .designer-text-paragraph {
    font-size: 20px;
  }

/* Photographer pg */
  .photographer-text-header {
    font-size: 50px;
    margin: 40px 0px 15px 0;
  }
  
  .photographer-text-paragraph {
    color: white;
    font-size: 20px;
  }

/* about pg */
  .about-text {
    font-size: 22px;
  }
  .about-text-home {
    font-size: 22px;
  }
  .email {
    font-size: 32px;
  }
  .icon-header {
    font-size: 32px;
  }

/* Footer */

}